<div class="home">
    <% if @user %>
        <h1><%= @user.name %>'s Recommendations:</h1>
        <small><%= 'To remove an item, click the red x next to the book.' if current_user?(@user) %></small>
    <% else %>
        <h1><%= @book.title_by_author %>'s Recommendations:</h1>
    <% end %>

    <div class="text-left">
        <ul class="book-list">
            <% @recommendations.each do |rec| %>
                <li><%= rec.book.title_by_author %> <%= link_to('X', user_recommendation_path(@user, rec), method: "delete", class: "text-danger") if @user && current_user?(@user) %></li>
                <p><%= rec.comment %></p>
            <% end %>
        </ul>
    </div>
</div>