<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'LibraryFriends', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Your Library', libraries_path, class: "nav-link #{'disabled' if !user_signed_in?}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Follows Feed', follows_path, class: "nav-link #{'disabled' if !user_signed_in?}" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'disabled' if !user_signed_in? %>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <%= link_to 'Your Recommendations', (user_signed_in? ? user_recommendations_path(current_user) : '#'), class: "dropdown-item" %> 
          <%= link_to 'New Recommendation', (user_signed_in? ? new_user_recommendation_path(current_user) : '#'), class: "dropdown-item" %> 
          <%= link_to 'Popular Books', libraries_popular_books_path, class: "dropdown-item" %>
          <%= link_to 'All Books', books_path, class: "dropdown-item" %> 
          
          <div class="dropdown-divider"></div>
          
          <%= link_to 'Your Profile', (user_signed_in? ? user_path(current_user) : '#'), class: "dropdown-item" %>
          <%= link_to 'Edit Your Account', (user_signed_in? ? edit_user_registration_path(current_user) : '#'), class: "dropdown-item" %>
          <%= link_to 'Lookup User', users_lookup_path, class: "dropdown-item" %>

        </div>
      </li>
    </ul>
    <%= render 'books/search' %>
  </div>
</nav>