<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LibraryFriends</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'disabled' if !user_signed_in? %>" href="/libraries">Your Library</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <%= link_to 'Your Recommendations', (user_signed_in? ? user_recommendations_path(current_user) : '#'), class: "dropdown-item" %> 
          <%= link_to 'New Recommendation', (user_signed_in? ? new_user_recommendation_path(current_user) : '#'), class: "dropdown-item" %> 
          <%= link_to 'Popular Books', libraries_popular_books_path, class: "dropdown-item" %>
          <%= link_to 'All Books', books_path, class: "dropdown-item" %> 
          
          <div class="dropdown-divider"></div>
          
          <%= link_to 'Your Profile', (user_signed_in? ? user_path(current_user) : '#'), class: "dropdown-item" %>
          <%= link_to 'Edit Your Account', (user_signed_in? ? edit_user_registration_path(current_user) : '#'), class: "dropdown-item" %>
        
        </div>
      </li>
    </ul>
    <% if user_signed_in? %>
      <%= form_tag(books_path, class: "form-inline my-2 my-lg-0", method: :get) do %>
        <%= text_field_tag :title, "", placeholder: "book search by title", class: "form-control mr-sm-2" %>
        <%= text_field_tag :author, "", placeholder: "by author", class: "form-control mr-sm-2" %>
        <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    <% end %>
  </div>
</nav>